.shinpei {
  position: relative;
  width: 300px;
  height: 120px;
  border-radius: 4px;
  background: url("../assets/shinpei/shinpei.png");
  overflow: hidden;
  top: 0;
  transition: 0.2s;
  cursor: pointer;
}

.shinpei:hover {
  top: -4px;
  box-shadow: 0 0 5px #12fe21;
}

.shinpei-01,
.shinpei-02,
.shinpei-03 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover !important;
}

.shinpei-01 {
  opacity: 1;
  transition: opacity 1s;
  background: url("../assets/shinpei/shinpei_01.png");
}

.shinpei:hover .shinpei-01 {
  opacity: 0;
}

.shinpei-02 {
  opacity: 0;
  transition: opacity 0.5s;
  background: url("../assets/shinpei/shinpei_02.png");
}

.shinpei:hover .shinpei-02 {
  opacity: 1;
}

.shinpei-03 {
  opacity: 0;
  transition: opacity 1s;
  background: url("../assets/shinpei/shinpei_03.png");
}

.shinpei:hover .shinpei-03 {
  opacity: 1;
}
