html, body, #app{
    position: relative;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}

html {
    overflow: hidden;
}
#app {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main {
    position: relative;
    width: calc(100% - 300px);
    height: 100%;

    background: #efefef;
    overflow: hidden;
}

.main .box-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    transition: 0.05s;

}

.main .box {
    position: relative;
    display: flex;
    flex-direction: column;
    transition: 0.05s;
}

.aside {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 300px;
    height: 100%;
}

.aside .info {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    user-select: none;
}

.aside .info table {
    position: relative;
    width: 100%;
    font-size: 14px;
}

.aside .info th, .info td {
    position: relative;
    width: 20px;
}

.aside .info th:first-child, .aside .info td:first-child {
    width: 80px;
    border-left: 1px solid #f00;
}

.aside .info th {
    position: relative;
    color: #fff;
    background: #f00;
    border-top: 2px solid #f99;
    border-left: 2px solid #f99 !important;
    border-bottom: 3px solid #a00;
    border-right: 3px solid #a00;
}

.aside .info td {
    position: relative;
    color: #666;
    background: #fff;
    border-bottom: 1px solid #f00;
    border-right: 1px solid #f00;
}

.aside .actions {
    position: relative;
}

.aside .actions > button {
    position: relative;
    padding: 5px;
    width: 42.85px;

    border: none;
    cursor: pointer;
    transition: .2s;
}

.aside .actions > button:hover {
    background: #b4c0ff;
}
.aside .custom{
    height: 300px;
}

.red-body {
    color: #fff;
    background: #f00;
    border-left: 2px solid #ffa4b3;
    border-top: 2px solid #ffa4b3;
    border-right: 3px solid #af0403;
    border-bottom: 3px solid #af0403;
}

.purple-body {
    color: #fff;
    background: #6581ef;
    border-left: 2px solid #95a1ff !important;
    border-top: 2px solid #a5b1ff !important;
    border-right: 3px solid #34569a !important;
    border-bottom: 3px solid #34569a !important;
}
.aside .actions .action-reset{
    




}
.blocks {
    position: relative;
    display: flex;
    justify-content: center;
}

.block {
    position: relative;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    user-select: none;
    border-right: 1px solid #a4b0ff;
    border-bottom: 1px solid #a4b0ff;
    box-sizing: border-box;
}

.blocks:nth-child(1) > .block {
    border-top: 1px solid #a4b0ff;
}
.block:nth-child(1) {
    border-left: 1px solid #a4b0ff;
}
.block-space.num-1 {
    color: rgb(8, 153, 235);
}
.block-space.num-2 {
    color: rgb(255, 45, 178);
}
.block-space.num-3 {
    color: rgb(109, 224, 176);
}
.block-space.num-4 {
    color: rgb(8, 153, 235);
}
.block-space.num-5 {
    color: rgb(255, 167, 45);
}
.block-space.num-6 {
    color: rgb(49, 140, 102);
}
.block-space.num-7 {
    color: rgb(168, 55, 237);
}
.block-space.num-8 {
    color: rgb(15, 254, 154);
}
.block-mine {
    margin: 0;
    background: #f00;
    width: 100%;
    height: 100%;

    line-height: 24px;
    text-align: center;
}

.block-mask {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    filter: brightness(100%);
}

.block-mask:hover {
    filter: brightness(80%);
}

.block-show {
    box-sizing: border-box;
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;

    line-height: 18px;
    text-align: center;
}

.block-flag {
    pointer-events: none;
    display: flex;
    position: absolute;
    justify-content: center;
    width: 24px;
    height: 24px;

    line-height: 24px;
    color: #fff;
}

.message {
    display: flex;
    justify-content: center;
    position: fixed;
    
    left:0px;
    transition: 0.5s;
    width: calc(100% - 300px);
    
}
.message>.message-content{
    padding: 10px;
    background: #fff;
    box-shadow: 0 0 10px #efefef;
    border-radius: 4px;


}
.custom-warpper{
    position: absolute;
    width: 100%;
    height: 100%;    
}
.custom-message {
    display: flex;
    flex-wrap:wrap;
    position: fixed;
    left: calc(50% - 350px);
    width: 400px;
    padding: 20px;
    transition: 0.5s;
    border:1px solid #d9d9d9;
    background: #fff;
    box-shadow: 0 0 10px #efefef;
    border-radius: 4px;
}
.custom-message>:nth-child(2n-1){
    box-sizing: border-box;
    line-height: 16px;
    text-align: right;
    padding: 10px;
    height: 36px;   
    margin-top: 10px;   
    width: 100px;   
}
.custom-message>:nth-child(2n){
    box-sizing: border-box;
    margin-top: 10px;
    height: 36px;
    width: calc(100% - 140px);
    
}

.custom-input{
    border:1px solid #d9d9d9;
    outline: none;
    border-radius: 2px;
    padding: 0px 15px;
}.custom-input:hover{

    border:1px solid rgb(80, 166, 252);

}
.custom-input:focus{
    border:1px solid rgb(80, 166, 252);
    box-shadow: 0 0 0 2px rgb(184, 219, 255);

}
.toolbar-wrapper {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.toolbar {  
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    width:200px;
    background: #fff;
    box-shadow: 0 0 5px #999999;
    border-radius: 4px;
    padding:8px;
    left: 0;
    top: 0;
}
.toolbar .flag {
    width: 40px;
    height: 40px;
    margin: 0;
    font-size: 20px;
    border: 1px solid #ffffff;
    box-sizing: border-box; 
    cursor: pointer;
    transition: background 0.1s, color 0.1s;
       
}
.toolbar .flag:hover {
    background:#94a0fe;
    color:#ffffff;

}
.prime-button{
    background-color: rgb(69, 156, 243);
    color:#ffffff;
    padding: 5px 20px;
    border: 1px solid rgb(69, 156, 243);
    border-radius: 2px;
    height: 36px;
    transition: 0.05s;
    cursor: pointer;
}
.default-button{
    background-color:#ffffff;
    color:#303030;
    padding: 5px 20px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    height: 36px;
    transition: 0.05s;
    cursor: pointer;
}
.prime-button:hover{
    border: 1px solid rgb(80, 166, 252);
    background-color: rgb(80, 166, 252);

}
.default-button:hover{
    border: 1px solid rgb(80, 166, 252);
    color: rgb(80, 166, 252);
}