.actions {
  position: relative;

  > button {
    position: relative;
    padding: 5px;
    width: 42.85px;
    border: none;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background: #b4c0ff;
    }
  }

  > button[button-name="custom"] {
    width: 85.7px;
  }
}
