.game-start {
  pointer-events: auto;
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-size: 24px;
  line-height: 40px;
  background: #2b4484;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #9d8829, 0 0 0 2px #eb8e1c, 0 0 1px 2px #9d8829;
  &:hover {
    font-size: 26px;
  }
}

.custom-form {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 400px;
  padding: 20px;
  border-radius: 4px;
  transition: 0.5s;
}

.custom-form > :nth-child(2n-1) {
  box-sizing: border-box;
  line-height: 16px;
  text-align: right;
  padding: 10px;
  height: 36px;
  margin-top: 10px;
  width: 100px;
}

.custom-form > :nth-child(2n) {
  box-sizing: border-box;
  margin-top: 10px;
  height: 36px;
  width: calc(100% - 140px);
}

.custom-input {
  border: 1px solid #d9d9d9;
  outline: none;
  border-radius: 2px;
  padding: 0 15px;
}

.custom-input:hover {
  border: 1px solid #50a6fc;
}

.custom-input:focus {
  border: 1px solid #50a6fc;
  box-shadow: 0 0 0 2px #b8dbff;
}

.custom-submit {
  margin-right: 8px;
}

.custom-radio-group {
  display: flex;
  justify-content: flex-start;

  .custom-radio {
    position: relative;
    margin-right: 2px;
    width: 50px;
    height: 36px;
    line-height: 36px;
    border: 0;
    cursor: pointer;
    text-align: center;
    transition: 0.25s;
    color: #606060;

    &[data-check="1"] {
      color: #3197ee;
      background: #f6f6f6;
      outline: none;
    }

    &:hover {
      color: #3197ee;
      background: #f6f6f6;
      outline: none;
    }
  }
}

.prime-button {
  padding: 5px 20px;
  height: 36px;
  border-radius: 2px;
  color: #fff;
  border: 1px solid #459cf3;
  background-color: #459cf3;
  transition: 0.05s;
  cursor: pointer;
}

.default-button {
  background-color: #fff;
  color: #303030;
  padding: 5px 20px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  height: 36px;
  transition: 0.05s;
  cursor: pointer;
}

.prime-button:hover {
  border: 1px solid #50a6fc;
  background-color: #50a6fc;
}

.default-button:hover {
  border: 1px solid #50a6fc;
  color: #50a6fc;
}
