@font-face {
  font-family: "站酷高端黑 Regular";
  font-weight: 400;
  src: url("//at.alicdn.com/wf/webfont/0I0xZnAcc5er/TUOj8j0hgvUA88QCnsdCN.woff2");
  font-display: swap;
}

.show-button {
  pointer-events: auto;
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-size: 24px;
  line-height: 40px;
  background: #2b4484;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #9d8829, 0 0 0 2px #eb8e1c, 0 0 1px 2px #9d8829;
  &:hover {
    font-size: 26px;
  }
}

.float-panel {
  pointer-events: none;
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 100%;
  height: 40px;
}

.float-items {
  position: relative;
  display: flex;
  justify-content: center;

  .float-item {
    pointer-events: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    margin-right: 50px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    user-select: none;
    border-radius: 50%;

    .float-item-icon {
      position: absolute;
      width: 100%;
      height: 100%;
      font-size: 30px;
      cursor: pointer;
      transition: color 0.2s;
    }

    .float-item-name {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 2px;
      font-size: 28px;
      text-align: center;
      font-family: "站酷高端黑 Regular", sans-serif;
      transition: color 0.2s;
      color: #a8a8a8;
    }

    .float-item-data {
      pointer-events: none;
      position: absolute;
      left: 50px;
      color: #543654;
      font-size: 24px;
    }

    .float-item-back-01 {
      pointer-events: none;
      position: absolute;
      background: #fff;
      width: 40px;
      height: 40px;
      border-radius: 40px;
    }

    .float-item-back-02 {
      pointer-events: none;
      position: absolute;
      background: #ffffffa5;
      top: 8px;
      width: 80px;
      height: 24px;
      border-radius: 30px;
      box-shadow: 0 0 2px #fff;
    }

    $color: (1, #0899eb), (2, #ff2db2), (3, #6de0b0), (4, #0899eb), (5, #ffa72d),
      (6, #318c66), (7, #a837ed), (8, #0ffe9a), (9, #609834);

    @each $i, $c in $color {
      &.float-item-flag[data-name="#{$i}"] {
        color: $c;
        .float-item-name {
          color: #a8a8a8;
        }
      }

      &.float-item-flag[data-name="#{$i}"]:hover {
        background: $c;
        color: #fff;
        .float-item-back-01 {
          background: $c;
        }
      }
    }
  }
}
