.shinpei {
  pointer-events: auto;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url("../assets/shinpei/shinpei.png");
  background-position: right;
  overflow: hidden;
  transition: 0.2s;
  cursor: pointer;
  box-shadow: 0 0 1px 1px #9d8829, 0 0 0 2px #eb8e1c, 0 0 1px 2px #9d8829;
}

.shinpei-01,
.shinpei-02,
.shinpei-03 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-position: right;
}

.shinpei-01 {
  opacity: 1;
  transition: opacity 1s;
  background-image: url("../assets/shinpei/shinpei_01.png");
}

.shinpei:hover .shinpei-01 {
  opacity: 0;
}

.shinpei-02 {
  opacity: 0;
  transition: opacity 0.5s;
  background-image: url("../assets/shinpei/shinpei_02.png");
}

.shinpei:hover .shinpei-02 {
  opacity: 1;
}

.shinpei-03 {
  opacity: 0;
  transition: opacity 1s;
  background-image: url("../assets/shinpei/shinpei_03.png");
}

.shinpei:hover .shinpei-03 {
  opacity: 1;
}
