html {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  height: 100%;
}

#app {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100%;
}

.main {
  position: relative;
  width: calc(100% - 300px);
  height: 100%;
  background: #efefef;
  overflow: hidden;

  .box-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    transition: 0.05s;
  }

  .box {
    position: relative;
    display: flex;
    flex-direction: column;
    transition: 0.05s;
  }
}

.aside {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 300px;
  height: 100%;

  .info {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    user-select: none;
  }

  .info table {
    position: relative;
    width: 100%;
    font-size: 14px;
  }

  .info th,
  .info td {
    position: relative;
    width: 20px;

    &:first-child {
      width: 80px;
      border-left: 1px solid #f00;
    }
  }

  .info th {
    position: relative;
    color: #fff;
    background: #f00;
    border-top: 2px solid #f99;
    border-left: 2px solid #f99 !important;
    border-bottom: 3px solid #a00;
    border-right: 3px solid #a00;
  }

  .info td {
    position: relative;
    color: #666;
    background: #fff;
    border-bottom: 1px solid #f00;
    border-right: 1px solid #f00;
  }
}

.red-body {
  color: #fff;
  background: #f00;
  border-left: 2px solid #ffa4b3;
  border-top: 2px solid #ffa4b3;
  border-right: 3px solid #af0403;
  border-bottom: 3px solid #af0403;
}

.purple-body {
  color: #fff;
  background: #6581ef;
  border-left: 2px solid #95a1ff !important;
  border-top: 2px solid #a5b1ff !important;
  border-right: 3px solid #34569a !important;
  border-bottom: 3px solid #34569a !important;
}

.blocks {
  position: relative;
  display: flex;
  justify-content: center;

  .block {
    position: relative;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    user-select: none;
    border-right: 1px solid #a4b0ff;
    border-bottom: 1px solid #a4b0ff;
    box-sizing: border-box;

    &:nth-child(1) {
      border-left: 1px solid #a4b0ff;
    }
  }

  &:nth-child(1) > .block {
    border-top: 1px solid #a4b0ff;
  }

  .block-space[block-num="1"] {
    color: #0899eb;
  }

  .block-space[block-num="2"] {
    color: #ff2db2;
  }

  .block-space[block-num="3"] {
    color: #6de0b0;
  }

  .block-space[block-num="4"] {
    color: #0899eb;
  }

  .block-space[block-num="5"] {
    color: #ffa72d;
  }

  .block-space[block-num="6"] {
    color: #318c66;
  }

  .block-space[block-num="7"] {
    color: #a837ed;
  }

  .block-space[block-num="8"] {
    color: #0ffe9a;
  }

  .block-space[block-num]:hover {
    background: #d9d9d9;
  }

  .block-mine {
    margin: 0;
    background: #f00;
    width: 100%;
    height: 100%;
    line-height: 24px;
    text-align: center;
  }

  .block-mask {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    filter: brightness(100%);
  }

  .block-mask:hover {
    filter: brightness(80%);
  }

  .block-show {
    box-sizing: border-box;
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    line-height: 18px;
    text-align: center;
  }

  .block-flag {
    pointer-events: none;
    display: flex;
    position: absolute;
    justify-content: center;
    width: 24px;
    height: 24px;
    line-height: 24px;
    color: #fff;
  }
}

.message {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  transition: 0.5s;
  width: calc(100% - 300px);

  & > .message-content {
    padding: 10px;
    background: #fff;
    box-shadow: 0 0 10px #efefef;
    border-radius: 4px;
  }
}

.toolbar-wrapper {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.toolbar {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  width: 200px;
  background: #fff;
  box-shadow: 0 0 5px #999;
  border-radius: 4px;
  padding: 8px;
  left: 0;
  top: 0;
}

.toolbar .flag {
  width: 40px;
  height: 40px;
  margin: 0;
  font-size: 20px;
  border: 1px solid #fff;
  box-sizing: border-box;
  cursor: pointer;
  transition: background 0.1s, color 0.1s;
}

.toolbar .flag:hover {
  background: #94a0fe;
  color: #fff;
}

.prime-button {
  padding: 5px 20px;
  height: 36px;
  border-radius: 2px;
  color: #fff;
  border: 1px solid #459cf3;
  background-color: #459cf3;
  transition: 0.05s;
  cursor: pointer;
}

.default-button {
  background-color: #fff;
  color: #303030;
  padding: 5px 20px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  height: 36px;
  transition: 0.05s;
  cursor: pointer;
}

.prime-button:hover {
  border: 1px solid #50a6fc;
  background-color: #50a6fc;
}

.default-button:hover {
  border: 1px solid #50a6fc;
  color: #50a6fc;
}
